<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="add_a_goods" method="post">

        <div>商品编号(id):<input type="text" maxlength="9" name="goods_id" id="goods_id"/></div>
        <div>商品名称:<input type="text" maxlength="20" name="goods_name" id="goods_name"/></div>
        <div>进价:<input type="text" maxlength="9" name="in_price" id="in_price"/></div>
        <div>售价:<input type="text" maxlength="9" name="unit_sale_price" id="unit_sale_price"/></div>
        <div>商品简介:<input type="text" width="20px" height="5px" name="goods_introduce" id="goods_introduce"/></div>

    </form>
</body>
</html>