<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
    <form action="check_client_register" method="post">
        <div><p>用户名（不得超过9位）：<input type="text" maxlength="9" name="client_id" id="client_id"></p></div>
        <div><p>密码：<input type="password" maxlength="30" name="client_pwd" id="client_pwd"></p></div>
        <div><p>重复密码：<input type="Password" maxlength="30" name="client_repwd" id="client_repwd"></p></div>
        <div><p>姓名：<input type="text" maxlength="30" name="client_name" id="client_name"></p></div>
        <div><p>联系方式：<input type="text" maxlength="30" name="client_phone" id="client_phone"></p></div>
        <div>
            <input type="submit" value="注册">
        </div>
    </form>
</body>
</html>