<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>monitor_main</title>
</head>
<body>
    <div>
        <a th:href="@{return_to_monitor_login(field_name='#')}">管理员账号登出</a>
    </div>

    <div><a th:href="@{show_store_list(field_name='all', field_value='',
         start_page=1, page_size=10)}">显示门店信息</a>
    </div>

    <div><a th:href="@{show_goods_list(field_name='all', field_value='',
         start_page=1, page_size=10)}">显示所有商品</a>
    </div>





    <div><a th:href="@{show_order_list(
                        field_name='all',field_value='',
                        valid_order_start_page='1', valid_order_page_size='10',
                        invalid_order_start_page='1', invalid_order_page_size='10')}">显示所有订单</a>
    </div>

</body>
</html>