<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    td{border:solid 1px yellow;}
</style>

<body>

<div>
    <h th:text="${client.getClient_id()}"></h>
    <h th:text="${client.getClient_name()}"></h>
    余额：<h th:text="${client.getClient_balance()}"></h>元

</div>

<div>
    <a th:href="@{return_to_client_main(field_name='#')}">返回主页</a>
    <a th:href="@{return_to_client_login(field_name='#')}">退出登录</a>
</div>





<form action="show_client_store_list" method="post">
    <select name="field_name">
        <option value="all" th:selected="${field_name=='all'}">全部</option>
        <option value="store_id" th:selected="${field_name=='store_id'}">门店编号</option>
        <option value="store_name" th:selected="${field_name=='store_name'}">门店名</option>
        <option value="address" th:selected="${field_name=='address'}">门店地址</option>

    </select>
    <input type="text" name="field_value" id="field_value" th:value="${field_value}">

    <input type="hidden" th:name="start_page" th:value="1">
    <input type="hidden" th:name="page_size" th:value="10">
    <input type="submit" value="查询">
</form>
<!--
<div>
    <button><a th:href="@{show_add_a_store(field_name=${field_name},
                            field_value=${field_value},
                            start_page=${start_page},
                            page_size=${page_size})}">添加</a></button>
</div>
-->
<div>
    <table>
        <thead>
        <tr>
            <th>门店 id</th>
            <th>门店店名</th>
            <th>门店地址</th>
            <th></th>
        </tr>
        </thead>



        <div th:each="item, itemStat:${client_store_list}">
            <tr>
                <td th:text="${item.getStore_id()}"></td>
                <td th:text="${item.getStore_name()}"></td>
                <td th:text="${item.getAddress()}"></td>

                <td><a th:href="@{show_add_client_order(store_id=${item.getStore_id()},
                    store_name=${item.getStore_name()},
                    field_name=${field_name},field_value=${field_value},
                    start_page=${start_page}, page_size=${page_size},
                    store_goods_list_start_page=1, store_goods_list_page_size=10
                    )}">发起订单</a>
                </td>
            </tr>
        </div>
    </table>
</div>

<div>分页信息：
    <a th:href="@{show_client_store_list(field_name=${field_name},
                                    field_value=${field_value},
                                    start_page=${start_page - 1},
                                    page_size=${page_size})}">上一页</a>

    <a th:href="@{show_client_store_list(field_name=${field_name},
                                    field_value=${field_value},
                                    start_page=${start_page + 1},
                                    page_size=${page_size})}">下一页</a>
</div>
</body>
</html>